
<app-header></app-header>


<router-outlet></router-outlet>
<!--<div class="container">-->
  <!--<div class="row">-->

    <!--<div class="col-xs-12 col-sm-4 col-md-3 mgt-40 ">-->
      <!--<app-slide-bar ></app-slide-bar>-->
    <!--</div>-->

    <!--<div class="col-xs-12 col-sm-8 col-md-9 mgt-40">-->
      <!--&lt;!&ndash;<app-products></app-products>&ndash;&gt;-->
      <!--<router-outlet></router-outlet>-->
    <!--</div>-->

  <!--</div>-->
<!--</div>-->

<div class="mgt-20">
  <app-footer></app-footer>
</div>

